

.form-table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;

  }
  
  .form-table th,
  .form-table td {
    border: 1px solid #a0a0a0;
    padding: 8px;
    text-align: center;
  }
  
  .form-table th {
    background-color: #c0bfbf;
    font-weight: bold;
    text-align: center;
    padding: 30px;
  }
  
  .reassign-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }

  .form-table input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #949393;
    border-radius: 4px;
    background-color: #a7a4a4;
    font-size: 16px;
    resize: vertical;
  }
  
  @media screen and (max-width: 600px) {
    .form-table input[type="text"] {
      width:100%;
    }
}