.navbar {
  display: flex;
  flex-direction: column;
  width: auto;
  background: white;
}

.comp-cont {
  display: flex;
  align-items: stretch;
  background: rgb(247, 236, 236);
  padding: 1em;
  color: white;
  width: 100%;
}

.Right {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-nav {
  display: flex;
  align-items: flex-start;
  height: fit-content;
  width: inherit;
}

.logo img {
  height: 100px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar input {
  padding: .5em;
  margin-bottom: .7em;
  width: 350px;
  margin: auto;
}

.menu button {
  background-color: #2a5b9b;
  color: white;
  border: none;
  padding: .5em;
  margin-top: .5em;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url(https://imgs.search.brave.com/irEQ4k3l_A6-NGC4DAB5UdqhUxjyfLHMsNI9g1YgMS0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzgyLzE2Lzcw/LzM2MF9GXzI4MjE2/NzAxOF9yWHNoaTFz/dWE4bllNVUVsUWlV/OThpWEh1VzIxN1lB/by5qcGc);
  background-size: 100%; 
  text-align: center;
  padding: 0; 
  height: 150px;  
}

.pic h3 {
  margin: 0; 
  color: black; 
}


